@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo_conjunto {
    font-weight: 800;
    font-size: 18px;
    display: flex;
}

.logo_conjunto img {
    margin-top: 0;
    width: 100px;
    height: 80px;
   
}

.logo_conjunto h3:first-child {
    margin-top: 14px;
    margin-bottom: 0;

}

.logo_conjunto h3:last-child {
    margin-top: 0;
}