@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@keyframes pulse {
    0% {
        box-shadow: 10px 10px 5px lightblue;
    }

    100% {
        box-shadow: 10px 10px 10px rgb(204, 173, 230);
    }
}

@keyframes pulse1 {
    0% {
        box-shadow: 10px 10px 5px lightblue;
    }

    100% {
        box-shadow: 0px 30px 10px rgb(204, 173, 230);
    }
}

@keyframes pulse2 {
    0% {
        box-shadow: 10px 10px 5px lightblue;
    }

    100% {
        box-shadow: 0px 30px 10px rgb(204, 173, 230);
    }
}

@keyframes pulse3 {
    0% {
        box-shadow: 8px 30px 5px #85e77c;
    }

    100% {
        box-shadow: 0px 30px 10px rgb(173, 230, 227);
    }
}



/* Add CSS rules inside the media query */
@media (max-width: 1199px) {
    nav{
     margin-inline: 10% !important;
    }

    #main-section{
     margin: 10% !important;
     min-height: inherit !important;
    }
    #projects-section {
        flex-wrap: wrap;
        margin-inline: 10% !important;
        justify-content: space-between;
    }
    .project__grid-1 {
        margin-bottom: inherit;
        margin-right: inherit;
        width: 350px;
    }
    
    .project__grid-2 {
        margin-bottom: inherit;
        width: 350px;
        margin-inline: 0;
    }
    
    .project__grid-3 {
        margin-bottom: inherit;
        margin-inline: 0 !important;
        width: 350px;

    }

    #projects-div-bg{
        
    }
    
    
}







/* elementos nativos */
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.paragraph__main {
    position: relative;
}

.paragraph__main p {
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    left: 60px;
    top: 0;
}

.linha {
    left: 0;
    top: 25px;
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
}

.titulo {
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 0;
}


.buttons__main {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 100px;
    height: 60px;
    gap: 20px;
}

.button__contact {

    background-color: #8873ef;
    border: none;
    width: 150px;
    height: 40px;
    padding: 10px;
    font-weight: 600;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.button__contact:hover {
    background: #836df3;
    color: white;
}








.portfolio {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* github */
.github__div {
    position: relative;
    cursor: pointer;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
}

.github__div::after {
    content: '';
    height: 2px;
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 0;
    border-radius: 1rem;
    width: 0px;
}

.github__div:hover::after {
    content: '';
    position: absolute;
    background-color: black;
    border-radius: 1rem;
    width: 60px;
    transition: all .3s;
}

.github__div:hover .seta {
    bottom: 0;
    
    rotate: 0deg;
}

/* seta */
.seta {
    width: 15px;
    height: 2px;
    position: absolute;
    background-color: black;
   right: 20px;
   bottom: 50%;

    border-radius: 1rem;
    rotate: -45deg;
    transition: all .3s;
}

.seta::after {
    content: '';
    background-color: rgb(0, 0, 0);
    width: 7px;
    right: -.9;
    top: -2.1;
    position: absolute;
    height: 2px;
    rotate: 45deg;
    border-radius: 1rem;
}

.seta::before {
    content: '';
    background-color: rgb(0, 0, 0);
    width: 7px;
    right: -.8;
    top: 2.1;
    position: absolute;
    height: 2px;
    rotate: -45deg;
    border-radius: 1rem;
}

/* seta */


.max__width {
    max-width: 1200px;
}

.div__intro {
    margin-top: 60px;
    max-width: 500px;
    position: relative;
}



/* header */
.header__inicio {
    font-weight: 800;
    font-size: 22px;
    display: flex;
    align-items: center;
}


.header__inicio img {
    margin-top: 12px;
    margin-right: 12px;
    width: 90px;
    height: 90px;
}

.header__inicio h3:first-child {
    margin-top: 28px;
    margin-bottom: 0;
    color: #fcda69;
}

.header__inicio h3:last-child {
    margin-top: 0;
    color: #8873ef;
}

.header__meio {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.header__meio a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.header__a {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__a:hover::after {
    position: absolute;
    width: 20px;
    background-color: black;
    height: 2px;
    content: '';
    bottom: 0;

}

.header__fim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search {
    height: 30px;
    width: 100px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 10px;
    gap: 4px;
    display: flex;
    padding: 0 10px;
}

.header__search:focus-within {
    border: 2px solid rgb(133, 133, 133);
}

.header__search input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

.header__fim svg {
    width: 15px;
}


.foto__main {
    position: relative;
    object-fit: cover;
    border-radius: 1rem;
}

.foto__main img {
    width: 480px;
    height: 400px;

}

.foto__quadrado {
    position: absolute;
    z-index: -10;
    top: 110px;
    left: 95px;
    width: 310px;
    height: 350px;
    border-radius: 1rem;
    background-color: #fcda69;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-23deg);

    animation: pulse 1s infinite alternate;
}


.foto__mascara {
    position: absolute;
    top: 350px;
    left: 130px;
    width: 260px;
    height: 60px;
    border-radius: 1rem;
    background: linear-gradient(to top, #fcda69 90%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto__mascara::after {
    content: '';
    position: absolute;
    top: -20px;
    left: -8px;
    width: 210px;
    height: 60px;
    background: linear-gradient(to top, #fcda69 70%, transparent);
    border-radius: 1rem;
    rotate: 35deg;
}

.foto__mascara::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -25px;
    width: 210px;
    height: 60px;
    background: linear-gradient(to top, #fcda69 70%, transparent);
    border-radius: 1rem;
    rotate: -30deg;
}

#main-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    min-height: 62vh;
    margin: auto;
}

#projects-section {

    background-color: #fcda69;
    height: max-content;
    display: flex;
    padding-top: 98px;
    padding-bottom: 60px;
    margin: auto;
   
}

.border__radius-10 {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.project__grid-1 {
    margin-bottom: 24px;
    margin-right: 25px;
}

.project__grid-2 {
    margin-top: 142px;
    margin-inline: 25px;
}

.project__grid-3 {
    margin-top: 67px;
    margin-inline: 25px;

}


.project__titulo {
    font-size: 56px;
    margin: 0;
    margin-bottom: 75px;
}

.bg__yellow {
    background-color: #fcda69;
}

.project__card-linha {
    width: 100%;
    height: 2px;
    background-color: black;

}

.project__card-titulo {
    font-size: 25px;
    font-weight: 600;
}

.project__card-titulo p {
    font-size: 18px;
    font-weight: 500;
}

.project__card-container {
    max-width: 330px;

}

/* .project__card{
    width: 350px;
    height: 450px;
    background: rgb(0, 0, 0);
} */





/* card-project */
.post-card {
    width: 320px;
    height: 200px;
    background: lightgrey;
    background-color: rgb(24 27 32);
    border: 1px solid rgb(84 90 106);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    transition: all .35s ease-in;
}



.post-card:hover {
    cursor: pointer;
    height: 270px;

}



.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: linear-gradient(to top left, blueviolet, rgb(73, 31, 112));
}


.title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    transition: all .35s ease-in;
}

.title:hover {
    text-decoration: underline blueviolet;
}

.datetime {
    font-size: 12px;
    color: rgb(168 179 207);
    margin: 10px 0;
}

.card__dashboard {
    border-radius: 6px;
}

.portal__aplicacoes {
    width: 100%;
    border-radius: 6px;
    background-color: blueviolet;
    margin-bottom: 4px;
}


.post-card:hover .portal__aplicacoes {

    height: auto;
}