@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* elementos nativos */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
}
/* navbar */
header {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;
  
}

.header_inicio {
    font-weight: 800;
    font-size: 18px;
    display: flex;
}

.header_inicio img {
    margin-top: 12px;
    margin-right: 12px;
    width: 60px;
    height: 60px;

}

.header_inicio h3:first-child {
    margin-top: 14px;
    margin-bottom: 0;

}

.header_inicio h3:last-child {
    margin-top: 0;
}

.header_meio {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.header_meio a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.header_a{
    height: 40px;
    position: relative;
    display: flex;
    align-items:center;
}
.header_a:hover::after {
    position: absolute;
    width: 20px;
    background-color: black;
    height: 2px;
    content:'';
    bottom: 0;
  
}